*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

input
{
    outline: none;
}

section
{
    border: 2px solid black;
    height: 47.5rem;
    width: auto;
    color: rgb(42, 42, 42);
    background-image: url(./daniel-storek-JM-qKEd1GMI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


a{
    text-decoration: none;
}

#title p
{
    padding-right: 1rem;
}

.navbar
{
    display: flex;
    padding: 10px;
    /* border: 2px solid black; */
}

.firstNav , .secNav{
    display: flex;
    align-items: center;
    font-size: .7rem;
    font-weight: bolder;
    /* border: 2px solid black; */
}

.firstNav ul, .secNav ul{
    display: flex;
    list-style: none;
    /* border: 2px solid black; */
}

ul li{
    padding: .5rem .5rem .5rem .5rem;
    margin: .5rem .5rem .5rem .5rem;
    /* border: 2px solid black; */
}

.secNav{
    margin-left: auto;
}

.sub-but
{
    background-color: transparent;
    border: none;
    position: relative;
    right: 1.5rem;
}

input
{
    height: 1.5rem;
    width: 15.5rem;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.underline
{
    height: 0.1rem;
    width: 15.8rem;
    background-color: black;
    position: absolute;
    top: 3.5rem;
    left: 68.8rem;
}

a{
    color: black;
}

.quote
{
    height: 30rem;
    width: 30rem;
    font-size: 3rem;
    color: #00178b;
    position: relative;
    top: 8rem;
    left: 4rem;
    line-height: 70px;
}

.para
{
    position: relative;
    top: -40px;
    font-size: .9rem;
    color: black;
    padding-top: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 23px;
}

.banner
{
    margin-top: 0rem;
    height: 4rem;
    width: 16rem;
    font-size: large;
    color: black;
    border: 3px solid black;
    background-color: transparent;
    border-radius: 5px;
}

.banner:hover
{
    color: white;
    background-color: black;
    
}

.firstNav li:hover 
{

    background-color: rgb(48, 48, 66);
    color: white;
    border-radius: 10px;
}


li{
    font-size: 15px;
}

